<h3>Mes résultats</h3>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Libellé</th>
        <th scope="col">Résultats</th>
        <th scope="col">Détails</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let duel of listeDuels">
        <td *ngIf='idStagiaire == duel.stagiaireA.id else stagiaireB'>{{duel.toString(2)}}</td>
        <ng-template #stagiaireB>
            <td>{{duel.toString(1)}}</td>
         </ng-template>
        <td><button class="btn btn-primary btn-sm" (click)="detailler()" disabled>Voir le détail</button></td>
      </tr>
    </tbody>
  </table>