<div class="ml-4 mb-3 mt-2 mr-4">
<h3>Mes résultats</h3>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Libellé</th>
        <th scope="col">Résultats</th>
        <th scope="col">Détails</th>
      </tr>
    </thead>
    <tbody>
       
      <tr *ngFor="let resultat of listeResultats">
        <td>{{resultat.toString()}}</td>
         <td>{{resultat.departager()}}</td>
        <td><button class="btn btn-primary btn-sm" (click)="detailler()" disabled>Voir le détail</button></td>
      </tr>
    </tbody>
  </table>
</div>