<div class="container-fluid">
    <div class="no-gutters justify-content-around">
        <div class="col-md-4 mb-3">
            <div class="card" style="width: 14rem;">
                <img class="card-img-top" src={{stagiaire.photoUrl}} alt="Card image" height="220px">
                <div class="card-body">
                    <p class="card-text">{{stagiaire.toString()}}</p>
                    <button class="btn btn-primary" (click)="stagiaire.choisirStagiaire()">Choisir</button>
                </div>
            </div>
        </div>
    </div>
</div>